@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.purple {
    color: rgb(129, 7, 243)
}


body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    cursor: pointer;
    justify-content: center
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    color: lavender;
    font-size: 1.04rem;

}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;

    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
    margin: 50px 0px;
}

.rightSection img {
    width: 90%;
    margin: 11px 20px;

}

#typed {
    color: rgb(178, 3, 247);
}

main hr {
    margin: 21px 20px;
    border: 1px solid #6c0ca3;
    color: purple;
    background-color: blue;
}

.my-intro {
    margin: 34px 25px;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.about {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin: 10px 35px;  
    color: #0687f1;
    text-decoration: underline;

}

.buttons {

    margin: 15px 0px;

}

.btn {

    border: 2px solid #000000;
    color: white;
    background-color: rgb(49, 6, 168);
    border-radius: 15px;
    padding: 9px;
    font-size: 15px;
    cursor: pointer;

}

.secondSection{
    height: 32vw;
}

.tech-skills{
     margin: 10px 15px;
     color: #7682e6;
     text-decoration: underline;
}
.thirdSection {
    margin: 10px 15px;
    max-width: 80vw;
    height: 80vh;
    padding: 20px;
}

.thirdSection h1 {
    font-size: 1.9rem;
    color: #ba8cd1;
    text-decoration: underline;

}

.text-gray {
    color: gray;
    font-size: small;
    font-weight: 500;

}

.box {
    width: 80vw;
    background: white;
    margin: 56px 70px;
    height: 1px;
    display: flex;
    justify-content: space-around;
}

.vertical {
    height: 93px;
    width: 1px;
    background-color: gray;
    margin: 0px 100px;
}

.image-top {
    width: 34px;
    position: relative;
    top: -30px;
    left: -15px;
}

.vertical-title {
    position: relative;
    top: 58px;
    width: 120px;
    left: -44px;
}


.vertical-desc {
    position: relative;
    top: 58px;
    left: -47px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

.lang{
    margin: 14px 17px;
    font-family: "Poppins", sans-serif ;
    font-size: 1.3rem;
    text-decoration: none;
    display: flex;
    color: #ddc2ea;

}

.footer{
    height: 50vh;
    /* background-color: #0b102a; */
    padding: 14px 30px;
    font-family: "Poppins", sans-serif;
}
.footer h2{
    color: #ba8cd1;
}
.myinfo{
        padding: 34px 26px;
        font-family: "Poppins", sans-serif ;
        font-size: 1.2rem;
}
.links{
    display: flex;
    gap: 50px;
    margin: 0 27px;
}

.links img{
    width: 40px;
}

.end{
    color: rgb(175 143 143);
    padding: 20px;
    

}